/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background: #102632;
	color: #FFFFFF;
}

.overflow {
	overflow-x: hidden;
}

html {
	font-size: 1rem;
}

.overflow-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.overflow-scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.container {
	@apply my-[30px] mx-auto w-[350px];
}

.btn {
	@apply bg-black px-4 py-2 rounded-full font-semibold hover:scale-105 transition;
}
.btn2{
	@apply bg-white text-[#102632] px-4 py-2 rounded-md font-semibold hover:scale-105 transition;
}

.box-shadow {
	/* box-shadow: 4px 2px 16px  rgba(0, 0, 0, 0.3); */
	border-radius: 16px;
}

label {
	display: inline-block;
	margin: 10px 0;
}

input[type="text"],
input[type="number"] {
	/* border: 1px solid #dedede; */
	border-radius: 2px;
	display: block;
	font-size: 16px;
	/* padding: 10px; */
	width: 100%;
}

.abs {
	position: absolute;
	right: 0;
	margin-left: 12px;
}

.modal-content{
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  margin: auto;
  background: white;
  color: #102632;
  padding: 20px;
  border-radius: 10px;
  z-index: 3000;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}