/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow {
	overflow-x: hidden;
}

html {
	font-size: 1rem;
}

.overflow-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.overflow-scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.container {
	@apply my-[30px] mx-auto w-[350px];
}

.btn {
	@apply bg-[#FFDF8C] px-4 py-2 rounded-full font-semibold hover:scale-105 transition;
}
.btn2{
	@apply bg-[#FFDF8C] px-4 py-2 rounded-md font-semibold hover:scale-105 transition;
}

.box-shadow {
	/* box-shadow: 4px 2px 16px  rgba(0, 0, 0, 0.3); */
	border-radius: 16px;
}

label {
	display: inline-block;
	margin: 10px 0;
}

input[type="text"],
input[type="number"] {
	/* border: 1px solid #dedede; */
	border-radius: 2px;
	display: block;
	font-size: 16px;
	/* padding: 10px; */
	width: 100%;
}

/* 
.input {
    display: flex;
    align-items: center;
    gap: 14px;
}

.input[type="radio"] {
    display: none;
}

.input label {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.input[type="radio"]:checked+label {
    background-color: #4caf50;
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
} */

.abs {
	position: absolute;
	right: 0;
	margin-left: 12px;
}
